@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: rgb(10, 12, 26);
}

.sidebar-open {
    transform: translateX(0px);
}

.sidebar-close {
    transform: translateX(-48px);
    pointer-events: none;
}