@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: rgb(10, 12, 26);
}

.sidebar-open {
    transform: translateX(0px);
}

.sidebar-close {
    transform: translateX(-48px);
    pointer-events: none;
}

.debug-class {
    @apply opacity-0
}

.show-chat {
    @apply w-60
}

.hide-chat {
    @apply opacity-0 h-0 w-4
}

.app {
    @apply text-white bg-gray-800
}

.border-y {
    @apply border-y-2 border-gray-700 rounded-md
}

/* Custom scrollbar */

::-webkit-scrollbar {
    @apply w-2
}

::-webkit-scrollbar-track {
    @apply bg-gray-100 
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-700 
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500
}